body{
    margin: 0;
    height: 100%;
}

.Login{
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    /* border: 2px solid black; */
}

.card{
    width: 250px;
    height: 120px;
    background-color: #FFFBB7;
    border: 10px solid #323745;
    text-align: center;
    border-radius: 20px;
    box-shadow:  10px 10px 20px #2b2f3b,
        -10px -10px 20px #3a3f4f;           
    transition: 0.5s;
}

.card:hover{
    height: 400px;
}

.icon {
    width: 60px;
    height: 60px;
    font-size: 30px;
    background-color: #323745;
    margin: 20px auto;
    padding: 5px;
    border-radius: 50%;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFBB7;
    background-color: #323745;
    padding: 10px;
    margin: 5px 20px;
    border-radius: 8px;
    transform: translateY(-150px) scale(0);
    transition: all 0.5s;
    line-height: 16px;
}

.content button{
    color: #FFFBB7;
    margin: 20px 0px 5px 0px;
    background: #323745;
    /* font-family: inherit;
    padding: 0.6em 1.3em; */
    font-weight: 500;
    font-size: 18px;
    border: 3px solid #FFFBB7;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em #FFFBB7;
}

.content button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    cursor: pointer;
}

.content button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.content .link{
    color: #FFFBB7;
    transition: color 0.5s ease;
}

.content .link:hover{
    color: #807E5C;
    cursor: pointer;
}

.card:hover .content {
    transform: translateY(0) scale(1);
}

.field {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    background-color: #FFFBB7;
    border-radius: 4px;
    padding: .5em 1em;
    transition: all 0.5s ease;
}

.field.error{
    background-color: #A13549;
    animation: shake 0.7s linear;
}

@keyframes shake {
    10%, 90%{
        transform: translateX(-5px);
    }
    20%, 80%{
        transform: translateX(10px);
    }
    30%, 50%, 70% {
        transform: translateX(-10px);
    }
    40%, 60%{
        transform: translateX(10px);
    }
}

.inputField {
    background: none;
    border: none;
    outline: none;
    width: 100%;
}

.card h3{
    color: #FFFBB7;
    transition: all 0.5s ease;
}

.card h3.error{
    color: #A13549;
}

.field input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}