html{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("./assets/rainbow-vortex.png"); */
    background-image: url("./assets/wavesbackgroundYellow.png");
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.card{
    width: 250px;
    height: 120px;
    background-color: #FFFBB7;
    border: 10px solid #323745;
    text-align: center;
    border-radius: 20px;
    box-shadow:  14px 14px 85px #d1ce96,
             -14px -14px 85px #ffffd8;
    transition: 0.5s;
}

.card:hover{
    height: 400px;
}

.icon {
    width: 60px;
    height: 60px;
    font-size: 30px;
    background-color: #323745;
    margin: 20px auto;
    padding: 5px;
    border-radius: 50%;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFBB7;
    background-color: #323745;
    padding: 10px;
    margin: 5px 20px;
    border-radius: 8px;
    transform: translateY(-150px) scale(0);
    transition: all 0.5s;
    line-height: 16px;
}

.content button{
    color: #FFFBB7;
    margin: 20px 0px 5px 0px;
    background: #323745;
    /* font-family: inherit;
    padding: 0.6em 1.3em; */
    font-weight: 500;
    font-size: 18px;
    border: 3px solid #FFFBB7;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em #FFFBB7;
}

.content button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    cursor: pointer;
}

.content button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.content a{
    color: #FFFBB7;
    text-decoration: none;
    transition: color 0.5;
}

.content a:hover{
    color: #807E5C;
}

.card:hover .content {
    transform: translateY(0) scale(1);
}

.field {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    background-color: #FFFBB7;
    border-radius: 4px;
    padding: .5em 1em;
}

.inputField {
    background: none;
    border: none;
    outline: none;
    width: 100%;
}

.card h3{
    color: #FFFBB7;
}

.field input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}