.root{
    -fx-background-color: #222222;
}
.label{
    -fx-text-fill: #ea0a8e;
    -fx-alignment: center;
    -fx-font-family: "lucida console";
}

.button{
    -fx-font-family: "lucida console";
    -fx-background-color: #888888;
}

#header{
    -fx-font-size: 30;
}