/* From uiverse.io by @david-mohseni */
body{
  /* background-color: #2a2b38; */
  display: flex;
  justify-content: center;
  /* background-color: #1D4552; */
  background-image: url("./assets/rainbow-vortex.png");
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23364B52' stroke-width='0' stroke-opacity='0.18' %3E%3Ccircle fill='%231D4552' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%231f4b59' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23225160' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23255667' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23275c6e' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%232a6275' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%232c687c' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%232f6f84' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2332758b' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23347b92' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%2337819a' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%233a88a2' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%233d8ea9' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%233f95b1' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23429bb9' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2345a2c1' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%2348a8c9' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%234BAFD1' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
   */
  background-attachment: fixed;
  background-size: cover;
}

.card {
  width: 190px;
  height: 120px;
  background-color: #eee;
  border: 10px solid #8FC6D9;
  /* background-color: #eee; 
  box-shadow: inset 5px 5px 10px #bbb, inset -5px -5px 10px #fff;
  border: 10px solid #eee;  */
  text-align: center;
  border-radius: 20px;
  
  box-shadow: inset 5px 5px 10px #364B52, inset -5px -5px 10px #364B52;
  transition: 0.5s;
}

.card:hover {
  height: 274px;
}

.icon {
  width: 60px;
  height: 60px;
  font-size: 30px;
  background-color: #364B52;
  margin: 20px auto;
  padding: 5px;
  border-radius: 50%;
  
  box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff;
  /* background-image: url("./assets/appIcon.png"); */
  background-size: cover;
}





.content {
  color: #eee;
  background-color: #364B52;
  padding: 10px;
  margin: 5px 20px;
  border-radius: 8px;
  box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff;
  transform: translateY(-80px) scale(0);
  transition: all 0.5s;
  line-height: 16px;
}

.card:hover .content {
  transform: translateY(0) scale(1)
}

.field {
  margin-top: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  background-color: #8FC6D9;
  border-radius: 4px;
  padding: .5em 1em;
 }

 .inputField {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  /*color: #d3d3d3;*/
 }

.card h3{
  color: #8FC6D9;
}

.field input:focus::placeholder {
  opacity: 0;
  transition: opacity .3s;
 }